.form-control{
height: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.agregar{
  width: 15vh !important;
  height: 3vh !important;
  margin-left: 28vh !important;

}
.CPreguntas{
    margin: auto; 
    max-width: 75vh;
    display: block !important;
    align-items: center !important;
     justify-content: center !important;
}
#correctas{
  display: flex;

}
#combo{
    display: flex;
}
#puntos{
    display: flex;

}
#cabeza{
    align-items: center;
    margin-bottom: 15px;
}
.respuestas{
    width: 40%;
    height: 30px;
}
.pregunta{
height: 3vh !important;
}
.rc{
  background-color: #D5F5E3 !important;
}
.ri{
    background-color: #FADBD8 !important;
}